.notcompleted {
  width: 45%;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.completed {
  width: 45%;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  text-decoration: line-through;
}
